.deetcode {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.deet-container {
  border: 2px solid darkgray;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.deet-container table {
  color: black;
  border-spacing: 2px;
  border-collapse: separate;
  min-height: 50px;
  min-width: 50px;
}

.deet-container table th {
  background-color: darkgray;
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
  font-weight: normal;
}

.deet-container table td {
  padding: 5px;
  background-color: lightgray;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
}

.deet-container ul {
  display: flex;
  gap: 2px;
}

.deet-container li {
  display: flex;
  padding: 5px;
  min-width: 50px;
  background-color: lightgray;
  color: black;
  justify-content: center;
  align-items: center;
}
