.deetcode {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.deet-container {
  border: 2px solid darkgray;
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.deet-container table {
  color: black;
  border-spacing: 2px;
  border-collapse: separate;
  min-height: 50px;
  min-width: 50px;
}

.deet-container table th {
  background-color: darkgray;
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
  font-weight: normal;
}

.deet-container table td {
  padding: 5px;
  background-color: lightgray;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
}

.deet-container ul {
  display: flex;
  gap: 2px;
}

.deet-container li {
  display: flex;
  padding: 5px;
  min-width: 50px;
  background-color: lightgray;
  color: black;
  justify-content: center;
  align-items: center;
}

.deet-label {
  display: flex;
  gap: 5px;
}

.deet-label-id {
  color: darkgray;
}

.deetcode-hide-labels label {
  display: none;
}

.deetcode-hide-labels text.linked-list-label {
  display: none;
}

.deet-assert {
  margin: 10px;
  padding: 10px;
}

.deet-assert-pass {
  border: 2px solid green;
}

.deet-assert-fail {
  border: 2px solid red;
}

/*
d3 list node styles
*/

.deetcode-listnode circle {
  fill: lightgray;
}

.deetcode-listnode text {
  color: black;
}

.deetcode-listnode .arrow {
  fill: none;
  stroke: darkgray;
  stroke-width: 2px;
}

.deetcode-listnode .arrowhead {
  stroke: darkgray;
  fill: darkgray;
}

.dark .deetcode-listnode .arrow {
  stroke: lightgray;
  fill: none;
}

.dark .deetcode-listnode .arrowhead {
  stroke: lightgray;
  fill: lightgray;
}

.dark .deetcode-listnode text {
  fill: white;
}

.dark .deetcode-listnode circle {
  fill: darkslategray;
}

/**
tree node
*/
.deetcode-treenode text {
  fill: black;
  font-size: medium;
}

.deetcode-treenode circle {
  fill: lightgray;
}

.deetcode-treenode .link {
  stroke: darkgray;
}

.dark .deetcode-treenode text {
  fill: white;
}

.dark .deetcode-treenode circle {
  fill: darkslategray;
}

.dark .deetcode-treenode .link {
  stroke: lightgray;
}

/**
graph
*/

.deetcode-graph text {
  fill: black;
  font-size: medium;
}

.deetcode-graph line {
  stroke: darkgray;
}
