.deetcode {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.deet-container {
  border: 2px solid darkgray;
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.deet-container table {
  color: black;
  border-spacing: 2px;
  border-collapse: separate;
  min-height: 50px;
  min-width: 50px;
}

.deet-container table th {
  background-color: darkgray;
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
  font-weight: normal;
}

.deet-container table td {
  padding: 5px;
  background-color: lightgray;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
}

.deet-container ul {
  display: flex;
  gap: 2px;
}

.deet-container li {
  display: flex;
  padding: 5px;
  min-width: 50px;
  background-color: lightgray;
  color: black;
  justify-content: center;
  align-items: center;
}

.deetcode-hide-labels label {
  display: none;
}

.deetcode-hide-labels text.linked-list-label {
  display: none;
}

.deet-assert {
  margin: 10px;
  padding: 10px;
}

.deet-assert-pass {
  border: 2px solid green;
}

.deet-assert-fail {
  border: 2px solid red;
}

/*
d3 styles
*/

.node {
  stroke: darkgray;
  stroke-width: 2px;
}
.arrow {
  fill: none;
  stroke: darkgray;
  stroke-width: 2px;
}
.arrowhead {
  stroke: darkgray;
  fill: darkgray;
}
.node text {
  pointer-events: none;
}

.dark .node {
  stroke: lightgray;
}

.dark .arrow {
  stroke: lightgray;
  fill: none;
}

.dark .arrowhead {
  stroke: lightgray;
  fill: lightgray;
}
